body {
    font-family: sans-serif;
}

strong {
    font-weight: 700;
}

.main {
    
    height: 100%;
    background-color: #F3F3F3;
    margin: 0 auto;
    width: 100%;

}

.topo {
    height: 12%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logouol {
    width: 75px;
    height: 53px;
    margin-left: 20px;
    
}

.grouplogo {
    width: 45px;
    height: 45px;
    margin-right: 15px;
   
}

.chatbox {
    height: 100%;
    background-color: #E5E5E5;
    font-size: 14px;
    overflow: scroll;
    width: 100%;
    margin-bottom: 80px;
    
}

.enviar-mensagem-box {
    height: 78px;
    background-color: white;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
-webkit-box-shadow: -1px 0px 9px 0px rgba(85,85,85,0.76); 
box-shadow: -1px 0px 9px 0px rgba(85,85,85,0.76);
    

}

.enviar-mensagem-box p {
    margin-left: 15px;
}

.enviar-mensagem-box img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
}

.status {
    background-color: #DCDCDC;
    padding: 15px;  
    word-wrap: break-word;
    max-width: 375px;
    
}   

.message {
    background-color: #FFFFFF;
    padding: 15px;
    max-width: 375px;
    word-wrap: break-word;
    
}



.reserved {
    background: #FFDEDE;
    padding: 15px;
    word-wrap: break-word;
    max-width: 375px;
}


li {
    overflow-x: hidden;
    height: auto;
    flex-wrap: wrap;
    
}

.enviar-mensagem {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-color: #FFFFFF;
    font-style: italic;
    margin-left: 20px;
    font-size: 15px;
}

.mensagens li{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

span {
    color: #aaaaaa;
    margin-right: 5px;
}